langchain==0.1.9
langchain-pinecone==0.0.3
langchain-community
pinecone-client[grpc]==3.0.0
ctransformers
sentence-transformers
openai
haystack-ai
notebook
python-dotenv
flask
 tiktoken==0.5.2
pypdf
datasets==2.12.0
apache_beam
mwparserfromhell
-e .